<div class="container">
<h2>Prenota la tua visita</h2>
<form  [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)"
       class="jumbotron" >
  <div class="form-group">
    Nome: <input type="text" name="nome" [formControl]="myForm.controls['nome']">  <br><br>
    Cognome: <input  type="text" name="cognome" [formControl]="myForm.controls['cognome']"> <br><br>
    Indirizzo: <input  type="email" name="indirizzo" [formControl]="myForm.controls['indirizzo']"> <br><br>
    Data Prenotazione: <input  type="date" name="data"min="2019-06-07" max="2019-12-31" [formControl]="myForm.controls['data']"> <br><br>
    Ora Prenotazione: <input  type="time" name="ora" [formControl]="myForm.controls['ora']"> <br><br>
  </div>
   <button class="btn btn-success btn-block" type="submit" [disabled]="!myForm.valid">Prenota</button>
</form>
</div>
<div *ngIf="!myForm.controls['nome'].valid"
     class="alert alert-danger">
       <div *ngIf="myForm.controls['nome'].hasError('required')" class="alert alert-danger">"nome" è richiesto</div>
</div>
<div *ngIf="!myForm.controls['cognome'].valid"
     class="alert alert-danger">
       <div *ngIf="myForm.controls['cognome'].hasError('required')" class="alert alert-danger">"cognome" è richiesto

       </div>
</div>
<div *ngIf="!myForm.controls['indirizzo'].valid"
     class="alert alert-danger">
     <div *ngIf="myForm.controls['indirizzo'].hasError('required')" class="alert alert-danger">"indirizzo" è richiesto</div>
</div>

<div *ngIf="!myForm.controls['data'].valid"
     class="alert alert-danger">
       <div *ngIf="myForm.controls['data'].hasError('required')" class="alert alert-danger">"data" è richiesto</div>
</div>
<div *ngIf="!myForm.controls['ora'].valid"
     class="alert alert-danger">
      <div *ngIf="myForm.controls['ora'].hasError('required')" class="alert alert-danger">"ora" è richiesto</div>
</div>

<hr><div class="w-50 text-center" style="margin: 50px auto">
 <h2>Elenco appuntamenti</h2>
  <ul class="list-group">
     
<app-prenotazione-view *ngIf="selectedPrenotazione" [ciao]="selectedPrenotazione"></app-prenotazione-view>
<ul class="prenotazioni">
  <li *ngFor="let p of prenotazione"
    [class.selected]="p === selectedPrenotazione"
    (click)="onSelect(p)">
    
   {{p.nome}} {{p.cognome}} {{p.data}}
  </li>
</ul>
    </ul>

</div>
   
  