<h5>Lista prenotazione</h5> <br>
<h6>Nome: {{ciao.nome}}</h6>
<h6>Cognome: {{ciao.cognome}}</h6>
<h6>Indirizzo: {{ciao.indirizzo}}</h6>
<h6>Telefono: {{ciao.telefono}}</h6>
<h6>Data Prenotazione: {{ciao.DataPrenotazione}} </h6>
<h6>Ora Prenotazione: {{ciao.OraPrenotazione}}</h6>

<h5>Lista prenotazione</h5> <br>
<h6>Nome: {{ciao.nome}}</h6>
<h6>Cognome: {{ciao.cognome}}</h6>
<h6>Indirizzo: {{ciao.indirizzo}}</h6>
<h6>Telefono: {{ciao.telefono}}</h6>
<h6>Data Prenotazione: {{ciao.DataPrenotazione}} </h6>
<h6>Ora Prenotazione: {{ciao.OraPrenotazione}}</h6>
